.home-body {
    display: flex;
    background-color: #141414;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.movie-container {
    display: flex;
}

.genre-container {
    display: flex;
    flex-direction: column;
}

.genre-header {
    color: white;
    font-size: 1.5rem;
    display: flex;
}

.genre-movies {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}

.genre-container-container {
    margin: 20px;
    width: 1650px;
    padding: 50px;
}

.movies {   
    margin: 0 10px 0 0;
}